*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'cafe';
  src: url(fonts/Louis\ George\ Cafe.ttf) format(opentype), url(fonts/Louis\ George\ Cafe.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@keyframes fade{
  from{opacity: 0}
  to{opacity: 1}
}

body, button, input, textarea{
  font-family: 'cafe', Helvetica, sans-serif;
}
/*BARRA DE NAVEGAÇÃO*/
nav{
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:start;
  background-image:linear-gradient(to left, #912759, #8761a7);
  width: 100%;
  height: 50px;
  font-size: larger;
}
a{
  text-decoration: none;
  color: #fff;
  margin: 15px;
}
/*SHEETS DA PAGINA DE FORMULARIO DE EMAIL*/

.forms{
  display:flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main{
  transform: translateY(40px);
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px 25px;
  width: 90%;
  max-width: 730px;

  animation:fade .1s linear;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
h1{
  text-align: center;
  margin: 20px 0;
  color: #912759;
  font-weight: bolder;
}
label{
  font-size: 1.3em;
  color: #912759;
}
input, textarea{
  width: 100%;
  display: flex;
  font-size: 1.1em;
  text-align: start;
  box-sizing: border-box;
  resize: none;
  margin: 10px 0;
  box-shadow: 1px 2px 5px rgba(136, 97, 167, 0.596);
}
input{
  padding: 5px 5px;
  border-radius: 10px;
  border:rgb(90, 90, 90) solid 2px;
  height: 40px;
}
textarea{
  padding: 5px 6px;
  border-radius: 13px;
  border:rgb(90, 90, 90) solid 2px;
}
input:focus, input:hover, textarea:focus, textarea:hover{
  background-color: #8861a738;
  border:#8761a7 solid 2px;
  color: rgb(46, 46, 46);
  outline: 0;
  color: rgb(0, 0, 0);
}
button{
  width: 130px;
  height: 45px;
  border: none;
  background-image:linear-gradient(45deg, #912759, #8761a7);
  color: white;
  font-size: large;
  box-shadow: 1px 2px 15px rgba(136, 97, 167, 0.596);
  cursor: pointer;
  border-radius: 25px;
}
button:hover{
  background-image: none;
  background-color: #8761a7;
  box-shadow: 2px 2px 10px rgb(136, 97, 167);
}

/*SHEETS DA PÁGINA THANKS*/
.obrigada{
  padding: 80px 5px;
  display: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconem{
  display: flex;
  align-items: center;
  justify-content: center;
}
i{ /*ÍCONE DE MENSAGEM*/
  color: #912759;
  font-size: 6em;
}
/*RESPONSIVIDADE*/
@media (min-width:700px){
  nav{
    padding: 0 15%;
  }
}